.divideline {
  height: calc(100% + 10px);
  background-color: var(--text);
}

.lastdivideline {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dividebol {
  height: 5px;
  background-color: var(--bg);
  border: 1px solid var(--text);
  margin-left: -1.5px;
}

.firstdivideline {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0.5rem;
  padding-top: 0;
  height: calc(100% - 0.5rem + 10px);

  .dividebol {
    background-color: var(--text);
  }
}


.dividingwidth {
  width: 20px;
}

.linewidth {
  width: 2px;
}

.bolwidth {
  width: 5px;
}
