.divideline{
  margin: auto;
  padding-top: 0.5rem;
}

.firstdivideline{
  margin-top: 0.5rem;
  padding-top: 0;
}

.dividebol{
  border-radius: 5px;
  margin-left: -1.5px;
}

.lastdivideline {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
