:root {
  --black: rgb(14, 14, 14);
  --white: rgb(255, 255, 255);
  --bg: var(--white);
  --text: var(--black);
  --gray: rgb(242, 242, 242);
  --qrCode: var(--black)
}

.dark-mode {
  --bg: var(--black);
  --text: var(--white);
  --qrCode: var(--white);
  --gray: rgb(25, 25, 25);
}


body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}
