html {
  width: 210mm;
  max-width: 100%;
}

.spacewidth {
  width: 10px;
}

.spaceheight {
  height: 10px;
}

.lefbody {
  width: calc((100% - 20px) / 495 * (75 + 265));
}

.rightbody {
  width: calc((100% - 20px) / 495 * 155);
}

.date {
  width: calc((100% - 20px) / 340 * 75);
}

.description {
  width: calc((100% - 20px) / 340 * 265);
}

.description a {
  display: flex;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.footerleft {
  width: calc((100% - 20px) / 495 * 75);
}

.socialqr {
  width: calc((100% - 20px) / 155 * 70);
}

li {
  width: calc(100% - 15px);
}

svg {
  width: 100%;
  height: fit-content;
}

@media (width <=48rem) {

  .socialqr,
  .footerleft,
  .lefbody,
  .rightbody {
    width: 100%;
  }

  svg {
    max-width: 40%;
  }
}